*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.align-center {
    align-items: center;
    text-align: center;
}

.col-1 {
    flex: 1 0 8.33%;
    padding: 0 15px;
    min-width: 8.33%;
}

.col-2 {
    flex: 1 0 16.66%;
    padding: 0 15px;
    min-width: 16.66%;
}

.col-3 {
    flex: 1 0 25%;
    padding: 0 15px;
    min-width: 25%;
}

.col-4 {
    flex: 1 0 33.33%;
    padding: 0 15px;
    max-width: 33.33%;
}

.col-5 {
    flex: 1 0 41.66%;
    padding: 0 15px;
    max-width: 41.66%;
}

.col-6 {
    flex: 1 0 50%;
    padding: 0 15px;
    max-width: 50%;
}

.col-7 {
    flex: 1 0 58.33%;
    padding: 0 15px;
    max-width: 58.33%;
}

.col-8 {
    flex: 1 0 66.66%;
    padding: 0 15px;
    max-width: 66.66%;
}

.col-9 {
    flex: 1 0 75%;
    padding: 0 15px;
    max-width: 75%;
}

.col-10 {
    flex: 1 0 83.33%;
    padding: 0 15px;
    max-width: 83.33%;
}

.col-11 {
    flex: 1 0 91.66%;
    padding: 0 15px;
    max-width: 91.66%;
}

.col-12 {
    flex: 1 0 100%;
    padding: 0 15px;
    max-width: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.btn {
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-family: inherit;
    margin: 35px 65px 35px 67px;
    border-radius: 25px;
}

button:hover {
    background-color: #0d33b1;
    color: white;
    border: none;
}

h2 {
    font-size: 40px;
    margin: 50px;
}


/* ===============layout start here=============== */

.wrap {
    text-align: center;
    object-fit: cover;
    background-color: #472c74;
    position: sticky;
    top: 0;
    z-index: 1;
}

.wrap header h1 a {
    color: var(--red);
    font-size: 50px;
}

.wrap span {
    color: white;
}

.wrap nav span {
    visibility: hidden;
}

.wrap header h1:hover {
    text-shadow: 5px -3px 20px;
}

.wrap nav {
    display: flex;
    justify-content: end;
}

.wrap nav ul {
    list-style: none;
    display: flex;
}

.wrap ul li {
    margin: 10px;
}

.wrap nav ul li a {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #bfa9a9;
    margin-left: 20px;
}

.wrap nav ul li a.active {
    color: #fff
}

.wrap nav ul li a:hover {
    color: white;
}

.wrap-1 {
    background: linear-gradient(to bottom, #472c74 0%, #1fdcb7 100%) no-repeat #a10fd5;
    color: #fff;
    padding: 10px;
}

.wrap-1 p.my {
    border: 1px solid white;
    border-radius: 3px 30px 0px 14px;
    text-align: center;
    width: 300px;
    font-size: 60px;
    margin-top: 3rem;
    font-weight: bold;
}

.wrap-1 p.designation {
    font-size: 60px;
    font-weight: bold;

}

.wrap-1 h4 {
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px auto;
}

.wrap-1 a {
    color: inherit;
    font-size: 25px;
    display: flex;
    margin-top: 20px;
}

.wrap-1 span {
    padding: 15px;
}

.wrap-1 .social-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    right: 0; */
}

.wrap-1 .social-link a span {
    margin: 15px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.wrap-1 .social-link a span:hover {
    color: #06a2ef;
    background-color: #f2eeef;
    border-radius: 50%;
    transition: .5s;
    transform: rotate(360deg);
    border: 2px solid #f2eeef;
}

.wrap-2 {
    background: linear-gradient(to bottom, #4fc1d0 30%, #e9e1e7 42%) no-repeat #416032;
}

.wrap-2 h2 {
    font-size: 40px;
}

.wrap-2 img {
    width: 100%;
    border: 15px inset #1d3564;
    box-shadow: 6px 0px 15px black;
}

.wrap-2 .about {
    font-size: 45px;
    align-items: center;
    margin: 10% 0 52px 40px;
    align-items: center;
}

.wrap-2 p {
    text-align: justify;
    margin: 10px;
    line-height: 40px;
    font-size: 20px;
    font-weight: lighter;
}

.wrap-2 span {
    color: var(--red)
}

.wrap-3 {
    background: linear-gradient(to bottom, #c8d2d3 30%, #e0e2e6 42%) no-repeat #97ba86 23%;
}

.wrap-3 h2 {
    margin: 1rem;
    color: #000;
}

.wrap-3 img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 2.5rem auto;
    border-radius: 15%;
    transition: all 2s ease;
    -webkit-transition: all 2s ease-in-out;
}

.wrap-3 img:hover {
    /* box-shadow: -2px -5px 20px 1px; */
    transition: all .8s;
    border: none;

    border: 1px solid #2e2c31;
    transform: scale(1.5);
    transition-timing-function: ease-in-out;
}

.wrap-3 p {
    padding: 10px;
    color: #0d33b1;
    font-size: 20px;
}

.wrap-4 {
    text-align: justify;
    color: #052d66;
    padding: 30px;
    background-color: #f2f6f4
}

.wrap-4 h2 {
    margin: 0px 50px 0px 50px;
}

.wrap-4 h6 {
    font-size: 20px;
    margin: 0 0 50px 0;
    color: var(--red);
}

.wrap-4 .service {
    margin: 10px 0px 40px 2px;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    color: rgb(20, 19, 19);
    background: linear-gradient(to bottom right, #68d3f7 0%, #6ddda5 100%);
    transition: all 1s;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 10.3px 17.9px rgb(0 0 0 / 7%), 0 20.8px 33.4px rgb(0 0 0 / 9%);
}

.service:hover {
    background: linear-gradient(to bottom left, #33ccff 0%, #ffcccc 100%);
    transition: 1s;
    cursor: pointer;
    transform: translateY(-25px);
}

.wrap-4 h3 {
    font-size: 25px;
    color: #052d66;
    border-bottom: 1px solid #052d66;
}

.wrap-4 p {
    font-size: 18px;
}

.wrap-4 h4 {
    margin: 4px;
}

.wrap-4 .service:hover span {
    transform: rotate(360deg);
    transition: 1s;
    color: blue;
}

.wrap-5 {
    background-color: #d1d2dd;

}

.project {
    overflow: hidden;
    margin: 7px auto;
    /* background-color: #fdf9f9; */
}

.wrap-5 img {
    display: flex;
    width: 100%;
    border: 5px solid #1e6e3f;
    transition: all 1s ease-in-out;
    

}

.wrap-5 img:hover {
    filter: grayscale(1.5);
    transform: scale(1.1);

}

.wrap-5 a {
    color: #000;
    border: 1px solid black;
    width: 45%;
    height: 35px;
    padding: 5px;
    display: inline-block;
    margin: 15px auto;
    text-align: center;
    border-radius: 12px;
}

.wrap-5 a:hover {
    box-shadow: 3px 2px 3px;
    font-weight: bold;
    background-color: black;
    color: white;
    transition: 0.5s all ease-in-out;

}

.link {
    display: inline-block;
    color: blue;
}

.wrap-6 {
    background: linear-gradient(to bottom, #472c74 0%, #1fdcb7 100%) no-repeat #a10fd5;
    color: #f0f2e5;
}

.wrap-6 h2 {
    margin: 50px 0px 4px 11px;
    color: #fbfbfff5;
}

.wrap-6 .red {
    color: red;
}

.wrap-6 h3 {
    font-size: 30px;
    margin: 10px;
}

.wrap-6 h4 {
    font-size: 20px;
    margin: 10px;
    font-weight: normal;
    color: #ffffff
}

.wrap-6 span {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #16030ab3;
}

.wrap-6 p {
    margin: 13px 0 10px 3px;
    font-weight: bold;
    padding: 10px;
}

.wrap-6 input {
    width: 100%;
    height: 50px;
    margin: 20px 0 10px 0;
    padding: 5px;
    border-radius: 7px;
    outline: none;
}

.wrap-6 button {
    background-color: #0d33b1;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 100%;
    margin: 15px 0 15px 0;
    border-radius: 25px;
    border: none;
}

.wrap-6 textarea {
    width: 100%;
    height: 235px;
    margin: 20px 0 4px 0px;
    padding: 5px;
    border-radius: 7px;
    outline: none;
}

.wrap-7 {
    font-size: 0.9rem;
    position: relative;
    background: #222;
    color: #fff;
    padding: 2rem;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #999;
    text-align: center;
    display: inline-block;
    margin: 5px 0px 2px 0px;
    text-transform: uppercase;
}

.wrap-7 footer p {
    font-weight: lighter;
    font-size: 18px;
}

.wrap-7 span {
    margin: 13px 20px 13px 20px;
}

.wrap-7 a:hover {
    color: #fff;
}

.wrap-7 span {
    color: white;
}

.wrap-7 img {
    width: 70%;
    display: flex;
    margin: 10px auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.gmap_iframe {
    width: 691px;
    height: 265px;
}

.top {
    height: 40px;
    position: fixed;
    right: 0;
    bottom: 6px;
    right: 6px;
    width: 46px;
    background-color: #472c74;
    border: none;
    border-radius: 6px;
    text-align: center;
    padding: 10px
}

.wrap-7 i {
    color: white;
}

/* meadia query start */


/* ================================= */
@media only screen and (max-width: 1400px) {}

/* ================================= */
@media only screen and (max-width: 1200px) {}

/* ================================= */
@media only screen and (max-width: 1024px) {
    .wrap header h1 a {
        font-size: 40px
    }

    .wrap-2 .about {
        font-size: 45px;
        align-items: center;
        margin: -4px;
    }

    .wrap-1 p.designation {
        font-size: 50px;
    }

    .wrap-1 a {
        color: inherit;
        font-size: 25px;
        display: inline-block;
        margin-top: 12px;
    }

    .wrap-1 h4 {
        font-size: 50px;
    }

    .wrap-1 p.my {
        width: 229px;
        font-size: 43px;
    }

    .btn {
        display: block;
    }

    wrap-6 button {
        font-size: 18px;
    }

    .wrap-6 h4 {
        font-size: 17px
    }

    .wrap-6 p {
        margin: 10px 0 10px 3px;
        padding: 0;
    }

    .wrap-6 span {
        font-size: 1em;
    }

    .col-6 .btn {
        width: 50%;
    }
}

/* ================================= */
@media only screen and (max-width: 991px) {
    .wrap-2 .about {
        font-size: 44px;
    }

    nav ul li {
        display: none;
    }
}

.wrap-5 a {
    width: 100%;
}

.btn {
    width: 100%;
    margin: 9px;
    background: transparent;
    border: 1px solid green;
    color: blue;
    font-weight: 500;
}

.wrap-5 i {
    display: none;
}

.link {
    display: block;
    text-align: center;
}

/* ================================= */
@media only screen and (max-width: 768px) {

    .wrap nav span {
        visibility: visible;
    }

    .wrap-1 h4 {
        font-size: 48px;
    }

    .wrap-1 p.designation {
        font-size: 45px;
    }

    .wrap-1 .social-link a span {
        margin: 10px;
        padding: 14px;
        border: 1px solid white;
    }

    .wrap-1 a {
        font-size: 20px;
    }

    .wrap-1 span {
        font-size: 1em;
    }

    .wrap-2 img {
        width: 90%;
        border: 5px inset #1d3564
    }

    .wrap-2 .about {
        font-size: 30px;
        margin: 0px;
    }

    .wrap-2 p {
        margin: 0px;
        line-height: 28px;
        font-size: 14px;
        font-weight: 400
    }


    .wrap-3 img {
        margin: 1.5rem auto;
        height: 50px;
        width: 50px;
    }

    .sm {
        flex: 1 0 100%;
        padding: 0;
        max-width: 100%;
    }

    .wrap-4 .service {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .wrap-4 p {
        font-size: 16px;
        line-height: 32px;
    }

    .wrap-5 a {
        width: 100%;
    }

    .wrap-6 h4 {
        font-size: 16px;
        display: flex;
        text-align: justify;
    }

    .wrap-6 button {
        font-size: 12px;
        height: 42px;
    }

    footer ul li {
        list-style: none;
        display: inline-flex;
        margin: 16px 0 -11px;
    }

    footer ul li a {
        margin: 14px 10px 0 -7px;
    }

    .wrap-7 img {
        width: 100%;
        margin: 20% 23px;
    }
}

/* ================================= */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 540px;
    }

    nav ul li {
        display: none;
    }

    .col-6 {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .wrap-1 p.my {
        width: 178px;
        font-size: 36px;
        margin-left: -5px;
    }

    .wrap-1 h4 {
        font-size: 35px;
    }

    .wrap-1 p.designation {
        font-size: 36px;
    }

    .wrap-2 img {
        width: 100%;
        border: 1px solid black;
    }

    .wrap-2 p {
        line-height: 32px;
        font-size: 16px;
    }

    .wrap-5 a {
        width: 100%;
    }

    .wrap-6 h4 {
        line-height: 32px;
    }

    .wrap-6 input {
        height: 60px;
        margin: 20px 0 3px 0;
    }

    .wrap-7 {
        font-size: 14px;
        padding: 0rem;
    }

    .wrap-7 img {
        width: 85%;
        margin: 14% 30px;
    }
}

/* ================================= */
@media only screen and (max-width: 567px) {
    .wrap-5 .col-4 {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .wrap-5 a {
        width: 100%;
    }
}

/* ================================= */
@media only screen and (max-width: 420px) {
    .wrap-5 h2 {
        font-size: 30px;
    }

    .wrap-5 a {
        width: 100%;
    }
}



/* ================================= */
@media only screen and (max-width: 320px) {
    .wrap-1 span {
        display: none;
    }

    .wrap-1 p.my {
        width: 150px;
        font-size: 30px;
        height: 50px;
        border-radius: 10px;
    }

    .wrap-1 h4 {
        font-size: 30px;
        margin: 13px 0 9px 2px;
    }

    .wrap-1 p.designation {
        font-size: 30px;
    }

    .wrap-1 a {
        font-size: 16px;
        margin-top: 20px;
    }

    .wrap-2 h2 {
        font-size: 30px;
    }

    .wrap-2 .about {
        font-size: 25px;
        margin: 6px;
    }

    .wrap-3 img {

        display: block;
        border: 1px solid black;
        padding: 11px;
        border-radius: 10%;
    }

    .wrap-3 img:hover {
        box-shadow: 2px 1px 2px;
        transform: none;
    }

    .wrap-3 p {
        padding: 0;
        font-size: 13px;
        margin: 4px 4px 10px 0;
    }

    .wrap-4 h2 {
        font-size: 25px;
    }

    .wrap-4 p {
        font-size: 14px;
        line-height: 28px;
    }

    .wrap-5 h2 {
        font-size: 24px;
        margin: 20px
    }

    .wrap-4 .col-4 {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .col-4 {
        flex: 1 0 50%;
        max-width: 50%;
    }

    .wrap-5 a {
        font-size: 14px;
    }

    .wrap-6 h2 {
        color: white;
        font-size: 26px;
    }

    .wrap-6 h3 {
        font-size: 22px;
    }

    .wrap-6 h4 {
        font-size: 14px;
        line-height: 28px;
    }

    .wrap-6 p {
        font-size: 14px;
        font-weight: 500;
    }

    .wrap-6 input {
        height: 45px;
        margin: 20px 0px 2px 0px;
    }

    .wrap-6 button {
        font-size: 15px;
        height: 45px;
    }

    .wrap-7 ul {
        padding: 0;
        margin: 0;
    }

    .wrap-7 footer p {
        font-size: 18px;
        text-align: center;
    }
}

footer img {
    --g: 8px;
    /* the gap */
    --b: 16px;
    /* border thickness*/
    --c: #97068b;
    /* the color */


    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
    background:
        var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
        var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b), var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}

footer img:hover {
    --_p: 75%;
    filter: grayscale(0%);
}